{%load static%}
<footer id="footer" class="top-space">
		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Home</a> | 
								<a href="/flixflex/aboutus/">About Us</a> |
								<a href="/flixflex/services/">Product & Services</a> |
								<a href="/#contactus">Contact Us</a> |
								
							</p>
						</div>
					</div>

					<div class="col-md-5 widget">
						<div class="widget-body">
							<p class="text-right">
							Copyright &copy;2009 flixflex pythonanywhere pvt ltd  
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>