{% load static %}
{% get_static_prefix as STATIC %}

<div>
		<p> Flixflex </p>
		<img src="{{STATIC}}images/flixflex.png" />
	<div>
<head>
<meta name="google-site-verification" content="7n0E88a3WQu8LwyDiwyVeuY7_EdshIfR2TTQqkdTxxo" />	
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128295028-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128295028-2');
</script>

	<title>softwarecompany</title>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{STATIC}}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{STATIC}}css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{STATIC}}css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="{{STATIC}}css/main.css">
	<link rel="stylesheet" href="{{STATIC}}css/js-image-slider.css">
	

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" style="background-color: #FFFFFF;">
		<div class="container" >
			<div class="navbar-header" >
			<img src="{{STATIC}}images/logo.png" style="margin-top: auto;" alt="logo" />
				<!--<img src="{{STATIC}}images/PS_Name(2).jpg" style="margin-top: auto;" alt="logo" />!-->
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="" >
				
				</a>
			</div>
			<div class="navbar-collapse collapse" style="font-size: 250%; margin-top: auto;">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/">Home</a></li>
					<li class="active"><a href="/flixflex/aboutus/">About Us</a></li>
					<li class="active"><a href="/flixflex/services/">Product & Services</a></li>
					<li class="active"><a href="/#contactus">Contact Us</a></li>
					<li class="active"><a href="/flixflex/informations/">information</a></li>
					
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	
</head>



